body {
    font-family: Arial, sans-serif;
    padding: 30px;
  }
  
  .art-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .art-item {
    width: 30%;
    text-align: center;
    margin-bottom: 50px;
  }
  
  .art-image {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #333;
  }
  
  .art-title {
    font-size: 18px;
    margin-top: 20px;
    color: #333;
  }